<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Usuario</title>
</head>
<body>
    <h1>Actualizar Usuario</h1>
    <form th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}" method="post">
        <div>
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" th:field="*{username}" />
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div>
            <label for="role">Rol:</label>
            <input type="text" id="role" th:field="*{role}" />
        </div>
        <div>
            <button type="submit">Actualizar</button>
        </div>
    </form>
</body>
</html>