<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}">Editar</a>
                    <a th:href="@{/users/delete/{id}(id=${user.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
